In [2]:
import pandas as pd
import numpy as np

import pandas_datareader as pdr
import datetime

In [16]:
train = pdr.get_data_yahoo(['AAPL'], 
                          start=datetime.datetime(2019, 1, 1),
                          end=datetime.datetime(2020,1,1))['Adj Close']

In [5]:
train.head()

Symbols           AAPL
Date
2018-12-31  154.618546
2019-01-02  154.794983
2019-01-03  139.376251
2019-01-04  145.326126
2019-01-07  145.002686

In [7]:
train.index

DatetimeIndex(['2018-12-31', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
               '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=253, freq=None)

In [21]:
data = pd.DataFrame(index = train.index)

In [23]:
data['DS'] = train.AAPL

In [24]:
train.rename('Date': '')

                    DS
Date
2018-12-31  154.618546
2019-01-02  154.794983
2019-01-03  139.376251
2019-01-04  145.326126
2019-01-07  145.002686
...                ...
2019-12-24  282.831299
2019-12-26  288.442780
2019-12-27  288.333313
2019-12-30  290.044617
2019-12-31  292.163818

[253 rows x 1 columns]