In [1]:
# delete negative value:
# 1. id와 amount의 절대값이 같은 값 찾기
# 1-1. 취소된 거래 전날 거래들 중 가장 최근 값을 선택
# 2. id와 amount의 절대 값이 없는 경우
# 2-1. 대부분의 취소 내역들이 2016년 8월 전 거래내역들에 대한 취소로 예상

In [3]:
import pandas as pd
import numpy as np

import matplotlib as mlp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import datetime as dt

In [4]:
train = pd.read_csv("../../Data/Price prediction/train.csv")
test = pd.read_csv("../../Data/Price prediction/test.csv")

In [3]:
print("shape of the train:", train.shape)
print("shape of the test:", test.shape)
# 8개의 feature

shape of the train: (3362796, 8)
shape of the test: (473392, 8)

In [356]:
# datetime 타입으로 변경
# is_calceled feature 추가

combine = [train, test]

for data in combine:
    data['is_canceled'] = data['amount'].map(lambda x: 1 if x < 0 else 0)
    data['date'] = pd.to_datetime(data['date'])

In [5]:
temp = train.groupby(["store_id", "date"]).sum()
temp[temp['amount'] <0]

# Pre-processing for data cleaning 어떤 스토어들은 return 때문에 하루 매출 자체가 음수가 되는 경우도 있음.

                     amount  installments  days_of_week  holyday  is_canceled
store_id date
5        2016-08-31   -3900           0.0             2        0            1
         2016-09-17    -750           0.0             5        0            1
         2017-04-20   -1000           0.0             3        0            1
         2017-09-09   -1000           0.0             5        0            1
         2017-12-17    -500           0.0             6        0            1
...                     ...           ...           ...      ...          ...
1769     2017-08-18     -75           0.0             8        0            1
         2017-09-09    -850           0.0            10        0            1
         2018-02-06   -1380           6.0             1        0            1
1770     2017-11-07    -220           0.0             2        0            1
1783     2017-07-18   -3000           3.0             1        0            1

[643 rows x 5 columns]

이 음수들을 제거하기 위해 카드 아이디를 이용하여 같은 카드의 negative transaction의 시간보다 작으면서 가장 최근 transaction 중

1) 절대값이 같은 양수 가격의 transaction 을 제거 혹은

2) 절대값이 더 큰 양수 가격의 transaction 에서 음수 transaction의 가격을 빼는 방법으로 음수들을 제거.

In [7]:
neg = train[train['amount'] < 0][['card_id', 'amount', 'date']]
neg_index = neg.index

In [57]:
"""def index_of_return(data):
    data = data.iloc[:, [3,4]]
    neg = data[data['amount'] < 0][['card_id', 'amount']]
    neg_index = neg.index

    index_temp = []
    
    for i in neg_index:
        neg_index_ = neg.index.get_loc(i)
        neg_id, neg_amount = neg.iloc[neg_index_].card_id, neg.iloc[neg_index_].amount
        
        temp = abs(data[(data['card_id'] == neg_id) & ((data['amount'] == -neg_amount))].index - i).min()
        index_temp.append(temp)
        print(i, temp)
        
    return index_temp"""

In [235]:
def index_change(neg_index):
    neg_index_ = []
    
    for i in neg_index:
        neg_index_.append(neg.index.get_loc(i))
        
    return neg_index_

def index_of_return(data):
    data = data.iloc[:, [1, 3,4]]
    neg = data[data['amount'] < 0][['card_id', 'amount', 'date']]
    neg_index = neg.index
    neg_index_ = index_change(neg_index)
    
    index_return = pd.DataFrame(index=neg_index, columns=["canceled_index"])
    
    for i, j in zip(neg_index, neg_index_):
        neg_index_ = neg.index.get_loc(i)
        neg_id, neg_amount = neg.iloc[neg_index_].card_id, neg.iloc[j].amount
        
        temp = abs(data[(data['card_id'] == neg_id) & ((data['amount'] == -neg_amount))].date - neg.iloc[j].date)
        
        if not temp.empty:
            index_return.iloc[j] = temp.idxmin()
        else:
            index_return.iloc[j] = np.NaN
            print("no matching value:", i)
               
    return index_return

In [ ]:
index_train = index_of_return(train)
# 전체 중 9건의 환불내역을 찾을 수 없음.

In [233]:
index_train.index.name = 'neg'
index_train.columns = ['pos']
index_train.to_csv("canceled_index_train.csv")

In [229]:
index_train.to_csv("canceled_index_train.csv")

In [ ]:
index_test = index_of_return(test)
# 전체 중 3건의 환불내역을 찾을 수 없음.

In [237]:
index_test.index.name = 'neg'
index_test.columns = ['pos']
index_test.to_csv("canceled_index_train.csv")

In [238]:
index_test.to_csv("canceled_index_test.csv")

### train_pos

In [362]:
train_index = pd.read_csv("canceled_index_train.csv")
train_index.isnull().sum()

# 9개가 빔

neg    0
pos    9
dtype: int64

In [315]:
temp = train_index['pos'].index[train_index['pos'].apply(np.isnan)]
train_index.iloc[temp]

           neg  pos
2824    400700  NaN
10176   702984  NaN
14237  1200075  NaN
19364  1886600  NaN
19420  1887488  NaN
19423  1887491  NaN
29091  2785057  NaN
33134  3291183  NaN
33240  3300080  NaN

In [316]:
temp = train.iloc[train_index.iloc[temp, 0]]
temp

# 모든 데이터가 2016년의 것임
# 아마도 데이터의 시작인 2016-08-01 이전의 거래내역에 대한 취소로 추정됨.

,store_id,date,time,card_id,amount,installments,days_of_week,holyday,is_canceled
400700,138,2016-08-01,17:56:07,65be030b0f,-180,NaN,0,0,1
702984,284,2016-08-02,12:08:26,3c71002f18,-197,NaN,1,0,1
1200075,508,2016-08-01,18:43:39,7e74575056,-330,NaN,0,0,1
1886600,958,2016-08-29,14:12:16,610fa6d878,-1590,NaN,0,0,1
1887488,958,2016-11-08,19:35:35,a7416614f6,-821,NaN,1,0,1
1887491,958,2016-11-08,19:35:35,a7416614f6,-191,NaN,1,0,1
2785057,1478,2016-08-04,19:37:01,8589f5980e,-11250,NaN,3,0,1
3291183,1760,2016-12-27,19:41:03,c43fee0edb,-4980,3.0,1,0,1
3300080,1769,2016-08-02,17:50:19,5c127f94cd,-190,NaN,1,0,1

### test_pos

In [317]:
test_index = pd.read_csv("canceled_index_test.csv")
test_index.isnull().sum()

# 3개가 빔

neg    0
pos    3
dtype: int64

In [318]:
temp = test_index['pos'].index[test_index['pos'].apply(np.isnan)]
test_index.iloc[temp]

         neg  pos
6945  337285  NaN
7266  379999  NaN
7904  470609  NaN

In [319]:
temp = test.iloc[test_index.iloc[temp, 0]]
temp

# 모든 데이터가 2016년의 것임
# 아마도 데이터의 시작인 2016-08-01 이전의 거래내역에 대한 취소로 추정됨.

,store_id,date,time,card_id,amount,installments,days_of_week,holyday,is_canceled
337285,129,2016-08-02,19:41:37,a5180934ff,-1400,NaN,1,0,1
379999,153,2016-08-08,09:22:43,6a86be3194,-215,NaN,0,0,1
470609,196,2016-08-19,19:38:04,4deead4fa6,-750,NaN,4,0,1

In [322]:
# 2016뇬 8월 31일 이전의 거래내역임.
# 삭제하기

In [371]:
neg = train_index.neg
pos = train_index.pos.dropna().astype(int)
temp = pd.concat([neg, pos])
train_ = train.drop(train.index[temp])
train_.to_csv("train_pos.csv", index=False)

In [372]:
neg = test_index.neg
pos = test_index.pos.dropna().astype(int)
temp = pd.concat([neg, pos])
test_ = test.drop(test.index[temp])
test_.to_csv("test_pos.csv", index=False)