## import

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import datetime
from sklearn.preprocessing import LabelEncoder

import sklearn
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
import lightgbm as lgb
from tqdm.notebook import tqdm

#한글깨짐방지
plt.rc('font',family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

C:\Users\User\Anaconda3\lib\site-packages\dask\dataframe\utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\User\Anaconda3\lib\site-packages\distributed\config.py:63: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config.update(yaml.load(text) or {})

In [13]:
print('Pandas : %s'%(pd.__version__))
print('Numpy : %s'%(np.__version__))
print('Scikit-Learn : %s'%(sklearn.__version__))
!python --version

Pandas : 1.0.5
Numpy : 1.18.5
Scikit-Learn : 0.23.1

Python 3.6.5 :: Anaconda, Inc.

### data

In [96]:
#데이터로드
path = './data/'
train = pd.read_csv(path +'201901-202003.csv')
submission = pd.read_csv(path + 'submission.csv')

In [97]:
train.shape, submission.shape

((24697792, 12), (1394, 5))

### 전처리

In [98]:
train['year'] = train['REG_YYMM'].apply(lambda x : int(str(x)[:4]))
train['month'] = train['REG_YYMM'].apply(lambda x : int(str(x)[4:]))
train.drop(['REG_YYMM'],axis= 1,inplace = True)

In [87]:
train.shape

(24697792, 13)

In [99]:
#데이터 정제
df = train.copy()
df = df.drop(['CARD_CCG_NM','HOM_CCG_NM'],axis= 1)

columns = ['CARD_SIDO_NM','STD_CLSS_NM', 'HOM_SIDO_NM','AGE','SEX_CTGO_CD',"FLC","year",'month']
train_grouped = df.groupby(columns).sum().reset_index(drop=False)

In [100]:
train_grouped

,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,year,month,CSTMR_CNT,AMT,CNT
0,강원,건강보조식품 소매업,강원,20s,1,1,2019,1,4,311200,4
1,강원,건강보조식품 소매업,강원,20s,1,1,2019,2,3,605000,3
2,강원,건강보조식품 소매업,강원,20s,1,1,2019,6,3,139000,3
3,강원,건강보조식품 소매업,강원,20s,1,1,2019,8,3,27500,3
4,강원,건강보조식품 소매업,강원,20s,1,1,2019,9,3,395500,3
...,...,...,...,...,...,...,...,...,...,...,...
1057389,충북,휴양콘도 운영업,충북,70s,2,5,2019,3,3,148000,4
1057390,충북,휴양콘도 운영업,충북,70s,2,5,2019,5,5,329800,7
1057391,충북,휴양콘도 운영업,충북,70s,2,5,2019,10,7,557800,7
1057392,충북,휴양콘도 운영업,충북,70s,2,5,2019,12,3,247800,3
1057393,충북,휴양콘도 운영업,충북,70s,2,5,2020,1,3,230400,3

In [102]:
#인코딩
dtypes = train_grouped.dtypes
encoders = {}
for column in train_grouped.columns:
    if str(dtypes[column]) == 'object':
        encoder = LabelEncoder()
        encoder.fit(train_grouped[column])
        encoders[column] = encoder
for column in encoders.keys():
    encoder = encoders[column]
    train_grouped[column] = encoder.transform(train_grouped[column])

In [103]:
train_grouped

,CARD_SIDO_NM,STD_CLSS_NM,HOM_SIDO_NM,AGE,SEX_CTGO_CD,FLC,year,month,CSTMR_CNT,AMT,CNT
0,0,0,0,1,1,1,2019,1,4,311200,4
1,0,0,0,1,1,1,2019,2,3,605000,3
2,0,0,0,1,1,1,2019,6,3,139000,3
3,0,0,0,1,1,1,2019,8,3,27500,3
4,0,0,0,1,1,1,2019,9,3,395500,3
...,...,...,...,...,...,...,...,...,...,...,...
1057389,16,40,16,6,2,5,2019,3,3,148000,4
1057390,16,40,16,6,2,5,2019,5,5,329800,7
1057391,16,40,16,6,2,5,2019,10,7,557800,7
1057392,16,40,16,6,2,5,2019,12,3,247800,3
1057393,16,40,16,6,2,5,2020,1,3,230400,3

### 외부데이터) 18년 사업체총조사 반영

In [126]:
all_jobs_df = pd.read_csv('./data/외부데이터/18 사업체총조사_키워드매칭.csv',encoding = 'cp949')
all_jobs_df = all_jobs_df[['행정구역별','데이터업종명','사업체수 (개)', '종사자수 (명)']]
all_jobs_df.columns = ['CARD_SIDO_NM','STD_CLSS_NM', 'company','employee']
all_jobs_df.employee = all_jobs_df.employee.apply(lambda x : x.replace("X","0")).astype(int)
all_jobs_df = all_jobs_df.groupby(['CARD_SIDO_NM','STD_CLSS_NM'])[['company','employee']].sum().reset_index()

all_jobs_df = all_jobs_df[~(all_jobs_df.CARD_SIDO_NM == '전국')]

encoder = encoders['CARD_SIDO_NM']
all_jobs_df['CARD_SIDO_NM'] = encoder.transform(all_jobs_df['CARD_SIDO_NM'])

encoder = encoders['STD_CLSS_NM']
all_jobs_df['STD_CLSS_NM'] = encoder.transform(all_jobs_df['STD_CLSS_NM'])

In [128]:
train_grouped = pd.merge(train_grouped,all_jobs_df,on =['CARD_SIDO_NM','STD_CLSS_NM'],how = 'left')

### Feature Engineering & Initial Modeling
* private은 4월을 예측 (20년 1월까지 데이터로 예측)
* public은 7월을 예측 (20년4월까지 데이터활용)

In [135]:
#train to private
one = train_grouped[train_grouped.year == 2019]
two = train_grouped[(train_grouped.year == 2020)&(train_grouped.month == 1)]

p_train = pd.concat([one,two])

In [139]:
# Feature, taget 설정
train_features = p_train.drop(['CSTMR_CNT','AMT','CNT'],axis= 1)
train_target = np.log1p(p_train['AMT'])

### Model Tuning & Evaluation

In [141]:
params = {'random_state': 42,
          'learning_rate': 0.01,
          'max_depth': 16,
          'num_leaves': 144,
          'boosting': 'gbdt',
          'objective': 'regression',
          'metric': 'rmse',
          'feature_fraction': 0.9,
          'bagging_fraction': 0.7}

In [185]:
train_ds = lgb.Dataset(train_features,label=train_target)

In [186]:
model = lgb.train(params,train_ds,num_boost_round=1000)

### conclustion & Discussion

In [191]:
#예측 탬플릿 만들기
CARD_SIDO_NMs = train_grouped['CARD_SIDO_NM'].unique()
STD_CLSS_NMs = train_grouped['STD_CLSS_NM'].unique()
HOM_SIDO_NMs = train_grouped['HOM_SIDO_NM'].unique()
AGEs = train_grouped['AGE'].unique()
SEX_CTGO_CDs = train_grouped['SEX_CTGO_CD'].unique()
FLCs = train_grouped['FLC'].unique()
years = [2020]
months = [4, 7]

temp = []
for CARD_SIDO_NM in tqdm(CARD_SIDO_NMs):
    for STD_CLSS_NM in STD_CLSS_NMs:
        for HOM_SIDO_NM in HOM_SIDO_NMs:
            for AGE in AGEs:
                for SEX_CTGO_CD in SEX_CTGO_CDs:
                    for FLC in FLCs:
                        for year in years:
                            for month in months:
                                temp.append([CARD_SIDO_NM, STD_CLSS_NM, HOM_SIDO_NM, AGE, SEX_CTGO_CD, FLC, year, month])
temp = np.array(temp)
temp = pd.DataFrame(data=temp, columns = train_features.columns[:-2])

HBox(children=(FloatProgress(value=0.0, max=17.0), HTML(value='')))

In [192]:
temp = pd.merge(temp,all_jobs_df,on =['CARD_SIDO_NM','STD_CLSS_NM'],how = 'left')

In [193]:
# 예측
pred = model.predict(temp)
pred = np.expm1(pred)
temp['AMT'] = np.round(pred,0)
temp['REG_YYMM'] = temp['year']*100 +temp['month']
temp = temp[['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM','AMT']]
temp = temp.groupby(['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM']).sum().reset_index(drop=False)

In [194]:
# 디코딩
temp['CARD_SIDO_NM'] = encoders['CARD_SIDO_NM'].inverse_transform(temp['CARD_SIDO_NM'])
temp['STD_CLSS_NM'] = encoders['STD_CLSS_NM'].inverse_transform(temp['STD_CLSS_NM'])

In [195]:
#제출파일
submission = pd.read_csv('data/submission.csv',index_col=0)
submission = submission.drop(['AMT'],axis= 1)
submission = submission.merge(temp, left_on=['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'],right_on =['REG_YYMM','CARD_SIDO_NM','STD_CLSS_NM'],how = 'left')
submission.index.name = 'id'

### 해당사업이 없는경우 0 처리

In [211]:
all_jobs_df = pd.read_csv('./data/외부데이터/18 사업체총조사_키워드매칭.csv',encoding = 'cp949')
all_jobs_df = all_jobs_df[['행정구역별','데이터업종명','사업체수 (개)', '종사자수 (명)']]
all_jobs_df.columns = ['CARD_SIDO_NM','STD_CLSS_NM', 'company','employee']
all_jobs_df.employee = all_jobs_df.employee.apply(lambda x : x.replace("X","0")).astype(int)
all_jobs_df = all_jobs_df.groupby(['CARD_SIDO_NM','STD_CLSS_NM'])[['company','employee']].sum().reset_index()

#제출파일과 비교
check_df = pd.merge(submission,all_jobs_df,left_on=['CARD_SIDO_NM','STD_CLSS_NM'],right_on=['CARD_SIDO_NM','STD_CLSS_NM'],how='left')

In [221]:
check_df.loc[check_df.company.isna(),"AMT"] = 0
check_df.drop(['company','employee'],axis= 1,inplace= True)
submission = check_df

In [227]:
submission.index.name = 'id'
submission.to_csv(f'./submission/{today}_submission_lgbm_test.csv', encoding='utf-8-sig')

submission.head()

    REG_YYMM CARD_SIDO_NM           STD_CLSS_NM           AMT
id
0     202004           강원            건강보조식품 소매업  3.489873e+08
1     202004           강원               골프장 운영업  1.852957e+09
2     202004           강원           과실 및 채소 소매업  8.400765e+08
3     202004           강원     관광 민예품 및 선물용품 소매업  9.277612e+07
4     202004           강원  그외 기타 분류안된 오락관련 서비스업  8.312179e+07

In [226]:
submission.shape

(1394, 4)