In [2]:
import numpy as np
import pandas as pd
import time
import datetime
import random
import os
import matplotlib.pyplot as plt

# Machine Learning Library
import lightgbm as lgb
import sklearn
from sklearn.model_selection import train_test_split

In [3]:
# Set Random Seed
seed = 777
os.environ['PYTHONHASHSEED'] = str(seed)
np.random.seed(seed)
random.seed(seed)

In [4]:
print('Seed: %i'%(seed))
print('Numpy: %s'%(np.__version__))
print('Pandas: %s'%(pd.__version__))
print('LightGBM: %s'%(lgb.__version__))
print('Scikit-Learn: %s'%(sklearn.__version__))

Seed: 777
Numpy: 1.18.5
Pandas: 1.0.3
LightGBM: 2.3.1
Scikit-Learn: 0.22.1

In [13]:
def sort_dataset(dataset):
    '''
    This function sorts the meteric_id of train.csv and test.csv into numerical order.
    '''
    columns = dataset.columns
    meter_ids = columns[1:]
    tmp = []
    for meter_id in meter_ids:
        meter_id = meter_id.replace('X', '')
        tmp.append(int(meter_id)) 
    tmp = np.sort(tmp)

    meter_ids = []
    for meter_id in tmp:
        meter_id = 'X' + str(meter_id)
        meter_ids.append(meter_id)

    results = [dataset[columns[0]].values]
    for meter_id in meter_ids:
        values = dataset[meter_id].values
        results.append(values)
    results = np.array(results).T
    df = pd.DataFrame(results, columns=[columns[0]] + meter_ids)
    return df

In [18]:
# Load data
train = sort_dataset(pd.read_csv('../../Data/Electric Power Supply Prediction/train.csv').fillna(0))
test = sort_dataset(pd.read_csv('../../Data/Electric Power Supply Prediction/test.csv').fillna(0))

ValueError: invalid literal for int() with base 10: 'N1'

In [20]:
a = pd.read_csv('../../Data/Electric Power Supply Prediction/train.csv').fillna(0)

In [21]:
a

,Time,NX1,NX2,NX3,NX4,NX5,NX6,NX7,NX8,NX9,...,NX1291,NX1292,NX1293,NX1294,NX1295,NX1296,NX1297,NX1298,NX1299,NX1300
0,2016-07-26 11:00,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,2016-07-26 12:00,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,2016-07-26 13:00,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,2016-07-26 14:00,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,2016-07-26 15:00,0.000,0.000,0.000,0.000,0.0,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,2018-06-30 19:00,0.271,0.754,0.327,0.468,0.0,0.314,0.769,0.790,0.558,...,0.523,0.455,0.295,0.056,0.295,2.089,0.619,1.063,0.345,0.565
16905,2018-06-30 20:00,0.341,0.827,0.478,0.356,0.0,0.434,0.680,0.819,0.470,...,0.350,0.799,0.287,0.057,0.548,2.168,0.723,4.760,0.388,0.620
16906,2018-06-30 21:00,0.535,0.516,0.558,0.496,0.0,0.479,0.590,0.910,0.424,...,0.446,0.754,0.433,0.060,0.677,2.028,0.766,5.386,0.440,0.573
16907,2018-06-30 22:00,0.379,0.494,0.605,0.320,0.0,0.555,0.604,1.044,0.412,...,0.567,0.504,0.384,0.210,1.019,1.055,0.735,7.150,0.393,0.629
16908,2018-06-30 23:00,0.388,0.482,0.651,0.284,0.0,0.452,0.629,1.116,0.400,...,0.495,0.410,0.343,0.420,0.746,0.738,0.689,8.346,0.323,0.422