https://www.kaggle.com/ashishpatel26/predict-sales-price-using-xgboost?select=Submission_Predict+Sales.csv

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_style("ticks", {"xtick.major.size": 8, "ytick.major.size": 8})
plt.style.use('ggplot') 

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

In [3]:
supply = pd.read_csv("data_2/supply.csv")
supply.head()

,Unnamed: 0,temp_max,temp_mean,temp_min,rain,is_rain,ws_max,ws_mean,ws_min,humid_max,...,vis_mean,vis_min,month,weekday,LNG,Oil,Coal,KOSPI,KOSDAQ,supply
0,2018-02-01,8.7,1.27,-11.3,2.5,1,12.7,3.52,0.0,99.9,...,1552.10,500.0,2.0,3.0,57.86,65.80,1.07,2568.54,908.20,87.47
1,2018-02-02,9.2,0.42,-12.3,0.0,0,13.6,3.85,0.0,99.8,...,1988.76,1133.0,2.0,4.0,56.01,65.45,1.02,2525.39,899.47,86.64
2,2018-02-03,5.9,-1.79,-13.9,229.7,1,19.8,5.60,0.0,99.9,...,1427.20,157.0,2.0,5.0,54.99,64.15,1.02,2491.75,858.22,88.28
3,2018-02-04,2.7,-3.87,-15.3,220.6,1,20.2,5.98,0.7,99.9,...,1330.41,18.0,2.0,6.0,54.99,64.15,1.02,2491.75,858.22,86.14
4,2018-02-05,4.2,-2.73,-14.4,192.8,1,17.6,5.13,0.1,99.9,...,1355.82,19.0,2.0,0.0,54.99,64.15,1.05,2491.75,858.22,90.63

In [6]:
supply = supply.rename(columns={'Unnamed: 0': 'date'})
supply['date'] = pd.to_datetime(supply['date'])

In [8]:
supply.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         730 non-null    datetime64[ns]
 1   temp_max     730 non-null    float64
 2   temp_mean    730 non-null    float64
 3   temp_min     730 non-null    float64
 4   rain         730 non-null    float64
 5   is_rain      730 non-null    int64
 6   ws_max       730 non-null    float64
 7   ws_mean      730 non-null    float64
 8   ws_min       730 non-null    float64
 9   humid_max    730 non-null    float64
 10  humid_mean   730 non-null    float64
 11  humid_min    730 non-null    float64
 12  vaporP_mean  730 non-null    float64
 13  dew_min      730 non-null    float64
 14  landP_max    730 non-null    float64
 15  landP_mean   730 non-null    float64
 16  landP_min    730 non-null    float64
 17  suntime      730 non-null    float64
 18  rad_mean     730 non-null    float64
 19  snow         730 non-null    float64
 20  is_snow      730 non-null    int64
 21  cloud        730 non-null    float64
 22  vis_max      730 non-null    float64
 23  vis_mean     730 non-null    float64
 24  vis_min      730 non-null    float64
 25  month        730 non-null    float64
 26  weekday      730 non-null    float64
 27  LNG          730 non-null    float64
 28  Oil          730 non-null    float64
 29  Coal         729 non-null    float64
 30  KOSPI        730 non-null    float64
 31  KOSDAQ       730 non-null    float64
 32  supply       730 non-null    float64
dtypes: datetime64[ns](1), float64(30), int64(2)
memory usage: 188.3 KB