In [68]:
# https://www.kaggle.com/nischaydnk/covid19-week5-visuals-randomforestregressor

In [58]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import plotly.express as px
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, KFold
from sklearn import ensemble

In [47]:
target = pd.read_csv("target_v2.csv")
target.head()

         date  smp_max  smp_min  smp_mean  supply
0  2018-02-01   150.65   116.84    132.71   87.47
1  2018-02-02   163.86   116.84    134.19   86.64
2  2018-02-03   164.07   116.85    131.39   88.28
3  2018-02-04   171.00   115.76    131.89   86.14
4  2018-02-05   170.34   123.89    137.96   90.63

In [48]:
target.date = pd.to_datetime(target["date"])

In [49]:
data = target[['date', 'supply']].copy()
data.head()

        date  supply
0 2018-02-01   87.47
1 2018-02-02   86.64
2 2018-02-03   88.28
3 2018-02-04   86.14
4 2018-02-05   90.63

In [50]:
train = data.iloc[:-102]
test = data.iloc[-102:]

In [51]:
from sklearn.preprocessing import OrdinalEncoder

def create_features(df):
    df['day'] = df['Date'].dt.day
    df['month'] = df['Date'].dt.month
    df['dayofweek'] = df['Date'].dt.dayofweek
    df['dayofyear'] = df['Date'].dt.dayofyear
    df['quarter'] = df['Date'].dt.quarter
    df['weekofyear'] = df['Date'].dt.weekofyear
    return df

def train_dev_split(df, days):
    #Last days data as dev set
    date = df['Date'].max() - dt.timedelta(days=days)
    return df[df['Date'] <= date], df[df['Date'] > date]

In [52]:
test_date_min = test['date'].min()
test_date_max = test['date'].max()

In [53]:
def avoid_data_leakage(df, date=test_date_min):
    return df[df['date']<date]

def to_integer(dt_time):
    return 10000*dt_time.year + 100*dt_time.month + dt_time.day

In [54]:
test['date']=test['date'].dt.strftime("%Y%m%d")
train['date']=train['date'].dt.strftime("%Y%m%d").astype(int)

C:\Users\lonj7\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\lonj7\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
from sklearn.model_selection import train_test_split

predictors = train.drop('supply', axis=1)
target = train["supply"]
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.22, random_state = 0)

In [59]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
model = RandomForestRegressor(n_jobs=-1)
estimators = 100
model.set_params(n_estimators=estimators)

scores = []

pipeline = Pipeline([('scaler2' , StandardScaler()),
                        ('RandomForestRegressor: ', model)])
pipeline.fit(X_train , y_train)
prediction = pipeline_dt.predict(X_test)

pipeline.fit(X_train, y_train)
scores.append(pipeline.score(X_test, y_test))

NameError: name 'pipeline_dt' is not defined

In [60]:
X_test

         date
196  20180816
187  20180807
14   20180215
31   20180304
391  20190227
..        ...
332  20181230
382  20190218
509  20190625
694  20191227
549  20190804

[162 rows x 1 columns]

In [63]:
test.drop(['supply'],axis=1,inplace=True)
test

C:\Users\lonj7\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         date
736  20200207
737  20200208
738  20200209
739  20200210
740  20200211
..        ...
833  20200514
834  20200515
835  20200516
836  20200517
837  20200518

[102 rows x 1 columns]

In [64]:
y_pred2 = pipeline.predict(X_test)
y_pred2

array([86.03  , 94.059 , 76.7714, 74.6063, 79.7595, 81.7598, 82.5229,
       77.3647, 74.1689, 75.517 , 72.0982, 79.9622, 71.3106, 73.6801,
       88.3174, 85.8404, 65.2861, 77.7777, 80.6004, 67.781 , 62.3518,
       65.8945, 65.3904, 81.6695, 67.8056, 78.721 , 83.2728, 63.1657,
       64.5993, 75.0983, 87.0335, 79.738 , 68.1673, 92.4077, 78.4508,
       78.7686, 64.4898, 92.0726, 69.682 , 85.8163, 79.8941, 87.6307,
       63.8233, 74.4291, 67.6013, 66.3003, 80.9591, 78.3387, 80.1537,
       66.9091, 71.8113, 78.6034, 64.7501, 73.037 , 84.8318, 85.8163,
       88.9062, 71.6034, 74.0594, 64.7697, 86.6726, 76.0527, 67.224 ,
       90.2513, 69.544 , 62.812 , 65.805 , 65.103 , 88.9567, 63.8233,
       64.9153, 68.4598, 86.7825, 71.0604, 64.0191, 83.4259, 75.6272,
       73.1833, 86.5066, 63.5913, 84.7282, 91.3319, 91.0928, 74.0347,
       62.4876, 75.4415, 66.2285, 67.1598, 70.5984, 66.997 , 87.0305,
       70.2747, 85.8163, 76.1134, 65.5894, 82.3516, 70.5984, 77.8495,
       75.484 , 70.599 , 88.1247, 65.3206, 78.9323, 73.6657, 65.5555,
       78.4464, 76.0527, 83.4966, 67.6109, 87.215 , 62.6898, 86.5801,
       63.3976, 77.5469, 71.9466, 72.5387, 77.0018, 63.321 , 85.6941,
       85.5738, 78.3024, 83.6508, 78.1349, 76.8428, 70.5116, 65.5636,
       77.7732, 66.848 , 81.0929, 69.8937, 68.0296, 77.0901, 72.2597,
       72.1242, 78.1761, 70.0301, 84.7282, 84.5726, 84.4331, 64.1903,
       64.7501, 63.9354, 69.0784, 79.6194, 65.9218, 80.3577, 63.9644,
       64.4646, 65.9861, 75.1366, 64.2252, 64.9355, 75.0199, 63.1469,
       77.618 , 64.6023, 74.2768, 85.8163, 83.118 , 69.6724, 81.1454,
       88.3047])

In [65]:
predictions = pipeline.predict(test)

pred_list = [int(x) for x in predictions]

output = pd.DataFrame({'supply': pred_list})
print(output)

     supply
0        89
1        89
2        89
3        89
4        89
..      ...
97       89
98       89
99       89
100      89
101      89

[102 rows x 1 columns]

In [66]:
output

     supply
0        89
1        89
2        89
3        89
4        89
..      ...
97       89
98       89
99       89
100      89
101      89

[102 rows x 1 columns]

In [67]:
a=output['supply'].quantile(q=0.05).reset_index()
b=output['supply'].quantile(q=0.5).reset_index()
c=output['supply'].quantile(q=0.95).reset_index()

AttributeError: 'numpy.float64' object has no attribute 'reset_index'